body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center; 
}

.card-body {
    background-color: #F75555;
    color: #FFFF;
    float: right;
    border-radius: 20px;
    height: 512px; 
    width: 391px;
    margin-top: 25%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
}
.input-field{
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #F75555;
    border: 2px solid #FFFF;
    color:#FFFF;
    height: 50px;
    width: 296px;
    outline: none;
    padding-left: 5px;
}
.input-field::placeholder {
    color: #FFFF;
}
.input-field:focus{
    color: #FFFF;
    border: 3px solid #FFFF;
}
.header_title{
    margin-top: 15%;
    margin-bottom: 40%;
}
.login-button {
    padding: 5px;
    background-color: #FFFF;
    color: #F75555;
    border: none;
    border-radius: 36px;
    cursor: pointer;
    height: 52;
    width: 205;
    font-size: 24px;
    margin-top: 15%;
}
.image-container {
    position: relative;
    flex: 1;
    display: flex;
    margin: 0;
    padding: 0;
}
.custom-container {
    margin-left: 0 !important;
}

.image1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}

.image2 {
    position: absolute;
    top: 25%;
    left: 5%;
    width: 50%; /* Adjust the width for the second image */
    height: 90%; /* Adjust the height for the second image */

}

.image3 {
    position: absolute;
    top: 30%; /* Adjust the top position for the third image */
    left: 10%; /* Adjust the left position for the third image */
    width: 50%; /* Adjust the width for the third image */
    height: 60%; /* Adjust the height for the third image */
}