.custom_bg {
    background-color: #F75555;
    height: 75vh;
}
.custom_bottom{
    background-color: #F75555;
}

.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    fill:#FFFFFF;
}

@media (min-width: 362px) {
    .sidebar .offcanvas-lg {
        position: -webkit-sticky;
        position: sticky;
    }
    .navbar-search {
        display: block;
    }
}

.sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
    color: #FFFFFF;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    color: #000000 !important;
    background-color: #FFFFFF !important;
    box-shadow: 5px 5px 10px rgba(16, 16, 15, 0.3)
}

.custom_logout {
    background-color: #F7D355;
    width: 90%;
    margin-left: 5%;
    border-radius: 11px;
    text-align: center; 
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
}

/* Change the color of the icon when the button is focused or active */
.custom_logout:focus #logout-icon,
.custom_logout:active #logout-icon,
.custom_logout:hover #logout-icon {
    fill: #000000; /* Your desired color here */
}

.custom_nav{
    width: 100%;
}

.custom_nav:focus .icon,
.custom_nav:active .icon,
.custom_nav:hover .icon{
    fill: #000000;
}
