{% extends 'base.html' %}
{% load static %}
{% block content %}
<div> DATA ENTRY</div>
<div class="row px-3 py-3 gap-1 ps-5">
    <div class="col-5">
        <button class="ctm-btn-2 dEntry_button dEntry_button_fx" id="openOverlayButton1">
            <img src="{% static 'img/pig_logo.png' %}" style="height: 150px;" alt="...">
            <span class="pb-3 text-white fs-5 fw-bold">
                PIG SALES
            </span>
        </button>
    </div>
    <div class="col-5">
        <button class="ctm-btn-2 dEntry_button" id="openOverlayButton2">
            <img src="{% static 'img/pig_logo.png' %}" style="height: 150px;" alt="...">
            <span class="pb-3 text-white fs-5 fw-bold">
                Sow Performance
            </span>
        </button>
    </div>
</div>

<div class="row px-3 py-3 gap-1 ps-5">
    <div class="col-5">
        <button class="ctm-btn-2 dEntry_button dEntry_button_fx" id="openOverlayButton3">
            <img src="{% static 'img/piglets.png' %}" style="height: 150px;" alt="...">
            <span class="pb-3 text-white fs-5 fw-bold">
                Weanlings
            </span>
        </button>
    </div>
    <div class="col-5">
        <button class="ctm-btn-2 dEntry_button dEntry_button_fx" id="openOverlayButton4">
            <img src="{% static 'img/vaccine_icon.png' %}" style="height: 150px;" alt="...">
            <span class="pb-3 text-white fs-5 fw-bold">
                Vaccine
            </span>
        </button>
    </div>
</div>

<div class="row px-3 py-3 gap-1 ps-5">
    <div class="col-5">
        <button class="ctm-btn-2 dEntry_button dEntry_button_fx" id="openOverlayButton5">
            <img src="{% static 'img/feeds_logo.png' %}" style="height: 150px;" alt="...">
            <span class="pb-3 text-white fs-5 fw-bold">
                Feeds Inventory
            </span>
        </button>
    </div>
    <div class="col-5">
        <button class="ctm-btn-2 dEntry_button dEntry_button_fx" id="openOverlayButton6">
            <img src="{% static 'img/mortality_icon.png' %}" style="height: 150px;" alt="...">
            <span class="pb-3 text-white fs-5 fw-bold">
                Mortality Form
            </span>
        </button>
    </div>
</div>

<div id="overlay1">
    <div id="formContainer" class="card rounded">
        <div class="rounded-top" style="background-color: #ff7b7b;">
            <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 3%;">
            <span class="mx-3 pt-2 fs-5 text-white fw-bold">
                PIG SALES
            </span>
        </div>
        <div class="scheduling-container">
            <form method="POST" action="{% url 'save_pig_sale' user_type=user_type %}">
                {% csrf_token %}   
                <div class="col g-3">
                    <div class="col-md-6">
                        <label for="PigID" class="form-label">Pig ID:</label>
                        <select class="form-select" id="pigID" name="PigID">
                            <option value="" selected>Select a Pig</option>
                            {% for pig in pigs %}
                                {% if pig.id not in pig_sales_ids %}
                                    <option value="{{ pig.id }}">{{ pig.pig_id }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>                                                                                       
                    </div>
                    <div class="col-md-6">
                        <label for="weight" class="form-label">Weight:</label>
                        <input type="text" class="form-control" id="weight" name="weight">
                    </div>
                    <div class="col-md-6">
                        <label for="price" class="form-label">Price:</label>
                        <input type="text" class="form-control" id="price" name="price">
                    </div>
                </div>
                <hr class="separator">
                    <div class="col-md-6">
                        <div class="Verification">
                            <label for="Verified" class="form-label">Verified By:</label>
                            <input type="text" class="form-control" id="Verified" name="Verified">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="date" class="form-label">Date:</label>
                        <input type="date" class="form-control" id="date" name="date">
                    </div>
                <div class="d-flex justify-content-end">
                    <input class="shadow  custom_button" type="submit" value="Save" style="border-radius: 20px; width: 120px; background-color: #ff7b7b; color: #FFFFFF;">
                    <input class="shadow custom_button" type="button" id="closeOverlayButton1" value="Cancel" style="border-radius: 20px; width: 120px;">
                </div>
            </form>
            <div class="error-message" id="error-message">
                {{ message }}
            </div>
        </div>
    </div>
</div>


<div id="overlay2">
    <div id="formContainer2" class="card rounded">
        <div class="card rounded">
            <div class="rounded-top" style="background-color: #ff7b7b;">
                <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 3%;">
                <span class="mx-3 pt-2 fs-5 text-white fw-bold">
                    Sow Performance
                </span>
            </div>
        <div class="scheduling-container">
            <form method="POST" action="{% url 'add_sp' user_type=user_type %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SowNo">Sow no.:</label>
                            <select class="form-select" id="SowNo" name="SowNo">
                                <option value="" selected>Select a Sow</option>
                                {% for sow in sows %}
                                <option value="{{ sow.id }}">{{ sow.pig_id }}</option>
                                {% endfor %}
                                </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dam">Dam:</label>
                            <input type="text" class="form-control" id="dam" name="dam">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="DOB">DOB:</label>
                            <input type="text" class="form-control" id="dob" name="dob">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sire">Sire:</label>
                            <input type="text" class="form-control" id="sire" name="sire">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="class">Class:</label>
                            <input type="text" class="form-control" id="pig_class" name="pig_class">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="parity">Parity:</label>
                            <input type="text" class="form-control" id="parity" name="parity">
                        </div>
                    </div>
                </div>
                <hr class="separator">
                <p class="BoarU my">Boar Used</p>
                <div class="row">
                    <div class="col">
                        <div class="col-md-4 form-group">
                            <label for="first" class="d-inline">1st:</label>
                            <input type="text" class="form-control d-inline" id="first" name="first">
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="second" class="d-inline">2nd:</label>
                            <input type="text" class="form-control d-inline" id="second" name="second">
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="third" class="d-inline">3rd:</label>
                            <input type="text" class="form-control d-inline" id="third" name="third">
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-md-4">
                            <label for="bred">Date Bred:</label>
                            <input type="text" class="form-control" id="bred" name="bred">
                        </div>
                        <div class="col-md-4">
                            <label for="due">Date Due:</label>
                            <input type="text" class="form-control" id="due" name="due">
                        </div>
                        <div class="col-md-4">
                            <label for="farr">Date Farr:</label>
                            <input type="text" class="form-control" id="farr" name="farr">
                        </div>
                    </div>
                </div>
                
                <hr class="separator">
                <p class="LitterS">Litter Size</p>
                <div class="row">
                    <div class="col-md-3">
                        <label for="alive">Alive:</label>
                        <input type="text" class="form-control" id="alive" name="alive">
                    </div>
                    <div class="col-md-3">
                        <label for="mk">MK:</label>
                        <input type="text" class="form-control" id="mk" name="mk">
                    </div>
                    <div class="col-md-3">
                        <label for="SB">SB:</label>
                        <input type="text" class="form-control" id="SB" name="SB">
                    </div>
                    <div class="col-md-3">
                        <label for="mffd">MFFD:</label>
                        <input type="text" class="form-control" id="mffd" name="mffd">
                    </div>
                </div>
                <div class="row">
                <div class="col">
                    <label for="totalLS">Total Litter Size:</label>
                    <input type="text" class="form-control" id="totalLS" name="totalLS">
                </div>
                <div class="col">
                    <label for="aveLS">Ave Litter Size:</label>
                    <input type="text" class="form-control" id="aveLS" name="aveLS">
                </div>
                </div>
                <hr class="separator">
        <div class="row">
            <div class="col">
                <div class="col g-2">
                    <label for="dateW">Date Weaned:</label>
                    <input type="text" class="form-control" id="dateW" name="dateW">
                </div>
                
                <div class="col g-2">
                    <label for="totalW">Total Weaned:</label>
                    <input type="text" class="form-control" id="totalW" name="totalW">
                </div>
                <div class="col g-2">
                    <label for="aveW">Ave Weaned:</label>
                    <input type="text" class="form-control" id="aveW" name="aveW">
                </div>
            </div>
            <div class="col">
                <div class="col g-3">
                    <label for="totalKW">Total Kilo Weaned:</label>
                    <input type="text" class="form-control" id="totalKW" name="totalKW">
                </div>
                <div class="col g-2">
                    <label for="noW">No. Weaned:</label>
                    <input type="text" class="form-control" id="noW" name="noW">
                </div>
            </div>
        </div>
            <div class="d-flex justify-content-end">
                <input class="shadow  custom_button" type="submit" value="Save" style="border-radius: 20px; width: 120px; background-color: #ff7b7b; color: #FFFFFF;">
                <input class="shadow custom_button" type="button" id="closeOverlayButton2" value="Cancel" style="border-radius: 20px; width: 120px;">
            </div>
            
            </form>
        </div>
        </div>   
    </div>    
</div>

<div id="overlay3">
    <div id="formContainer" class="card rounded">
        <div class="rounded-top" style="background-color: #ff7b7b;">
            <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 3%;">
            <span class="mx-3 pt-2 fs-5 text-white fw-bold">
                WEANLINGS
            </span>
        </div>
        <div class="scheduling-container">
            <form method="POST" action="{% url 'save_weanling' user_type=user_type %}">
                {% csrf_token %}
                <div class = "row flex1">
                    <div class="col">
                        <label for="pigID" class= "LPigID">Pig ID:</label>
                        <select class="form-select" id="pigID" name="pig_id">
                            <option value="" selected>Select a Pig</option>
                            {% for pig in piglets %}
                            {% if pig.id not in pig_sales_ids %}
                            <option value="{{ pig.id }}">{{ pig.pig_id }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 mt-4" style="transform: translateY(10%);">
                        <label for="date" class= "LDate">Date:</label>
                        <input type="date" class= "InDate" id="date" name="date"><br><br>
                    </div>
                </div>

                <hr class="separator">

                <div class = "flex2">
                    <label for="sowID" class="LSowID">Sow ID:</label>
                    <select class="form-select" id="sowID" name="sow_id">
                        <option value="" selected>Select a Sow</option>
                        {% for sow in sows %}
                            <option value="{{ sow.id }}">{{ sow.pig_id }}</option>
                        {% endfor %}
                    </select><br>
                    <div class="row d-flex">
                        <div class="col">
                            <label for="weight" class= "LWeight">Weight:</label>
                            <input type="text" class= "InWeight" id="weight" name="weight">
                        </div>
                        <div class="col d-flex">
                            <label for="sex" class= "LSex mt-2 me-3">Sex:</label>
                            <select class="form-select" id="sex" name="sex">
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                        </div>                        
                    </div>                    

                    <hr class="separator">

                    <label for="remarks" class= "LRemarks">Remarks:</label>
                    <input type="text" class= "InRemarks" id="remarks" name="remarks"><br><br>
                </div>
    
                <div class="d-flex justify-content-end">
                    <input class="shadow  custom_button" type="submit" value="Save" style="border-radius: 20px; width: 120px; background-color: #ff7b7b; color: #FFFFFF;">
                    <input class="shadow custom_button" type="button" id="closeOverlayButton3" value="Cancel" style="border-radius: 20px; width: 120px;">
                </div>
            </form>
            <div class="error-message" id="error-message">
                {{ message }}
            </div>
        </div>
    </div>
</div>

<div id="overlay4">
    <div id="formContainer" class="card rounded" style="width: 40%;">
        <div class="rounded-top" style="background-color: #ff7b7b;">
            <img src="{% static 'img/vaccine_icon.png' %}" class="ms-2" style="width: 3%;">
            <span class="mx-3 pt-2 fs-5 text-white fw-bold">
                VACCINE 
            </span>
        </div>
        <div class="scheduling-container">
            <form method="POST" action="{% url 'save_vaccine' user_type=user_type %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="pigID" class= "LPigID me-4">Pig ID:</label>
                        <select class="form-select" id="mortalitypigID" name="pig_id">
                            <option value="" selected>Select a Pig</option>
                            {% for pig in pigs %}
                            {% if pig.id not in pig_sales_ids %}
                            <option value="{{ pig.id }}">{{ pig.pig_id }}</option>
                            {% endif %}
                            {% endfor %}
                        </select><br>
                    </div>
                    <div class="col" style="transform: translateY(32%);">
                        <label for="date" class= "LDate">Date:</label>
                        <input type="date" class= "InDate" id="date" name="date"><br>
                    </div>
                </div>
                

                <hr class="separator">
    
                <div class = "d-flex flex-column align-items-end" style="width: 40%;">
                    <div>
                        <label for="vaccine" class= "LVaccine">Vaccine:</label>
                        <input type="text" class= "InVaccine" id="vaccine" name="vaccine"><br><br>
                    </div>
                    <div>
                        <label for="purpose" class= "LPurpose">Purpose:</label>
                        <input type="text" class= "InPurpose" id="purpose" name="purpose"><br><br>
                    </div>
                    <div>
                        <label for="dosage" class= "LDosage">Dosage:</label>
                        <input type="text" class= "InDosage" id="dosage" name="dosage"><br><br>
                    </div>
                    
                </div>
                <div class="d-flex justify-content-end">
                    <input class="shadow  custom_button" type="submit" value="Save" style="border-radius: 20px; width: 120px; background-color: #ff7b7b; color: #FFFFFF;">
                    <input class="shadow custom_button" type="button" id="closeOverlayButton4" value="Cancel" style="border-radius: 20px; width: 120px;">
                </div>
    
            </form>
            <div class="error-message" id="error-message">
                {{ message }}
            </div>
        </div>
    </div>
</div>

<div id="overlay5">
    <div id="formContainer" class="card rounded" style="width: 40%;">
        <div class="rounded-top" style="background-color: #ff7b7b;">
            <img src="{% static 'img/feeds_logo.png' %}" style="height: 30px;" alt="...">
            <span class="mx-3 pt-2 fs-5 text-white fw-bold">
                FEEDS INVENTORY
            </span>
        </div>
        <div class="scheduling-container">
            <form method="POST" action="{% url 'save_feeds_inventory' user_type=user_type %}">
                {% csrf_token %}   
                <div class="d-flex flex-column align-items-end" style="width: 50%;">
                    <div>
                        <label for="feedsB" class= "LFeedsB">Feeds Brand:</label>
                        <input type="text" class= "InFeedsB" id="feedsB" name="feedsB"><br><br>
                    </div>
                    <div>
                        <label for="feedsR" class= "LFeedsR">Feeds Ration:</label>
                        <input type="text" class= "InFeedsR" id="feedsR" name="feedsR"><br><br>
                    </div>
                    <div>
                        <label for="cost" class= "LCost">Cost:</label>
                        <input type="text" class= "InCost" id="cost" name="cost"><br><br>
                    </div>
                    <div>
                        <label for="quantity" class= "LQuantity">Quantity:</label>
                        <input type="text" class= "InQuantity" id="quantity" name="quantity"><br><br>
                    </div>
                </div>
                
                <hr class="separator">
    
                <div class="d-flex flex-column align-items-end" style="width: 50%;">
                    <div>
                        <label for="verifBy" class= "LVerifBy">Verified By:</label>
                        <input type="text" class= "InVerifBy" id="verifBy" name="verifBy"><br><br>
                    </div>
                    <div>
                        <label for="date" class= "LDate">Date:</label>
                        <input type="date" class= "InDate" id="date" name="date"><br><br>
                    </div>
                </div>
    
                <div class="d-flex justify-content-end">
                    <input class="shadow  custom_button" type="submit" value="Save" style="border-radius: 20px; width: 120px; background-color: #ff7b7b; color: #FFFFFF;">
                    <input class="shadow custom_button" type="button" id="closeOverlayButton5" value="Cancel" style="border-radius: 20px; width: 120px;">
                </div>
            </form>
            <div class="error-message" id="error-message">
                {{ message }}
            </div>
        </div>
    </div>
</div>

<div id="overlay6">
    <div id="formContainer" class="card rounded" style="width: 40%;">
        <div class="rounded-top" style="background-color: #ff7b7b;">
            <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 3%;">
            <span class="mx-3 pt-2 fs-5 text-white fw-bold">
                MORTALITY FORM
            </span>
        </div>
        <div class="scheduling-container">
            <form method="POST" action="{% url 'mortality_form' user_type=user_type %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <label for="mortalitypigID" class="LPigID">Pig ID:</label>
                        <select class="form-select mb-2" id="mortalitypigID" name="pig_id">
                            <option value="" selected>Select a Pig</option>
                            {% for pig in pigs %}
                            {% if pig.id not in pig_sales_ids %}
                            <option value="{{ pig.id }}">{{ pig.pig_id }}</option>
                            {% endif %}
                            {% endfor %}
                        </select><br>
                    </div>
                    <div class="col" style="transform: translateY(35%);">
                        <label for="date" class="LDate">Date:</label>
                        <input type="date" class="InDate" id="date" name="date"><br>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-end" style="width: 40%;">
                    <div>
                        <label for="class" class="LClass">Class:</label>
                        <input type="text" class="InClass" id="class" name="class"><br><br>
                    </div>
                    <div>
                        <label for="cause" class="LCause">Cause:</label>
                        <input type="text" class="InCause" id="cause" name="cause"><br><br>
                    </div>
                    <div>
                        <label for="location" class="LLocation">Location:</label>
                        <input type="text" class="InLocation" id="location" name="location"><br><br>
                    </div>
                    <div>
                        <label for="remarks" class="LRemarks">Remarks:</label>
                        <input type="text" class="InRemarks" id="remarks" name="remarks"><br><br>
                    </div>
                </div>
                <hr class="separator">
                <div class="d-flex flex-column align-items-end" style="width: 40%;">
                    <div>
                        <label for="repBY" class="LRepBy">Reported By:</label>
                        <input type="text" class="InRepBy" id="repBy" name="repBy"><br><br>
                    </div>
                    <div>
                        <label for="verifBy" class="LVerifBy">Verified By:</label>
                        <input type="text" class="InVerifBy" id="verifBy" name="verifBy"><br><br>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <input class="shadow custom_button" type="submit" value="Save" style="border-radius: 20px; width: 120px; background-color: #ff7b7b; color: #FFFFFF;">
                    <input class="shadow custom_button" type="button" id="closeOverlayButton6" value="Cancel" style="border-radius: 20px; width: 120px;">
                </div>
            </form>
            <div class="error-message" id="error-message">
                {{ message }}
            </div>
        </div>
    </div>
</div>

{% endblock %}