{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="col py-3 custom-padX gap-5" style="height: 15rem;">
  <div class="row py-3 gap-4">
      <div class="bg-primary card px-2" style="width: 23rem;">
        <div class="col col-auto card-body card-font d-flex justify-content-between">
            <div>
                <img src="{% static 'img/pig_logo.png' %}" style="height: 120px;" alt="...">
                <p class="px-1 fs-3 text-white"> Pigs </p>
            </div>
            <div class="py-3 my-3">
                <span class="text-white p-0 fw-bold" style="font-size:500%">{{ pig_list_more_88_days.count }}</span>
            </div>
        </div>
      </div>
      <div class="bg-warning card px-2" style="width: 23rem;">
        <div class="col col-auto card-body card-font d-flex justify-content-between">
            <div>
                <img src="{% static 'img/piglets.png' %}" style="height: 120px;" alt="...">
                <p class="px-1 fs-3 text-white"> Piglets </p>
            </div>  
            <div class="py-3 my-3">
                <span class="text-white p-0 fw-bold" style="font-size:500%">{{ pig_list_88_days.count }}</span>
            </div>
        </div>
      </div>
      <div class="bg-danger card px-2" style="width: 23rem;">
        <div class="col col-auto card-body card-font d-flex justify-content-between">
            <div>
                <img src="{% static 'img/feeds_logo.png' %}" style="height: 120px;" alt="...">
                <p class="px-1 fs-3 text-white"> Feed Stock </p>
            </div>  
            <div class="py-3 my-3">
                <span class="text-white p-0 fw-bold" style="font-size:500%">{{ feed_stock.count }}</span>
            </div>
        </div>
      </div>
      <div class="card px-2 custom_sched_box" id="scheduleToday">
        <div class="mt-2 schedule_header">SCHEDULE TODAY:</div>
        {% if today_tasks %}
            {% for task in today_tasks %}
                <div class="mt-2 p-2 custom_sched_tab">
                    {{ task.task_name }}
                    <label class="checkbox-container">
                        <input
                            type="checkbox"
                            data-task-id="{{ task.id }}"
                            {% if task.is_done %}checked{% endif %}
                            onchange="updateTaskStatus(this)"
                        >
                        <span class="checkmark"></span>
                    </label>
                </div>
            {% endfor %}
        {% else %}
          <img src="{% static 'img/No_Task.png' %}" alt="No Tasks Today Image" class="no-task-img">
          <p class="no-tasks-text">No Tasks Today.</p>
        {% endif %}
    </div>
  </div>
</div>
<div id="calendar" class="mt-4"></div>
{% endblock %}
