{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>Reports</div>

<div id="months"  style="display: none;">{{ months|safe }}</div>
<div id="counts"  style="display: none;">{{ counts|safe|default:"[]" }}</div>
<div id="totalPigs" style="display: none;">{{ total_pigs }}</div>
<div id="vaccinatedPigs" style="display: none;">{{ vaccinated_pigs }}</div>
<div id="salesData" style="display: none;">{{ sale_counts|safe }}</div>
<div id="saleMonths" style="display: none;" >{{ sale_months|safe }}</div>
<div id="mortalityData" style="display: none;">{{ mortality_counts|safe }}</div>
<div id="mortalityDates" style="display: none;">{{ mortality_dates|safe }}</div>
<div id="totalWeanlings" style="display: none;">{{ weanlings_count|safe|default:"[]" }}</div>
<div id="weanlingsData" style="display: none;">{{ unique_weanling_ids|safe|default:"[]" }}</div>
<div id="average_weights"  style="display: none;">{{ average_weights |safe|default:"[]" }}</div>
<div id="quantity_by_ration_data"style="display: none;">{{ result| safe }}</div>
<div id="quantity_by_ration_data"style="display: none;">{{ stock_prescriptions| safe }}</div>
<div id="feed_expenses_dates" style="display: none;">{{ feed_expenses_dates|safe }}</div>
<div id="feed_expenses_costs" style="display: none;">{{ feed_expenses_costs|safe }}</div>
<div id="vaccine_counts_dict"style="display: none;">{{ vaccine_counts_dict|safe|default:"[]" }}</div>
<div id="unvaccinated_counts" style="display: none;">{{ unvaccinated_counts|safe }}</div>
<div id="vaccine_needed" style="display: none;">{{ vaccine_needed|safe }}</div>


<div class="d-flex justify-content-around">
    <button id="showPigSalesButton" class="menu_button mx-2" style="width: 70%;">Pig Sales</button>
    <button id="showVaccinationButton" class="menu_button mx-2" style="width: 70%;">Vaccination</button>
    <button id="showFeedsButton" class="menu_button mx-2" style="width: 70%;">Feeds</button>
    <button id="showMortalityButton" class="menu_button mx-2" style="width: 70%;">Mortality</button>
</div>

<div id="pigSalesSection">
    <div class="row mt-2">
        <div class="col">
            <div class="graph-container rounded" style="height: 100%; width: 100%; margin-top: 2%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
                <div class="rounded-top w-100" style="background-color: #ff7b7b;">
                    <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 3%;">
                    <span class="mx-3 pt-2 fs-5 text-white fw-bold" style="width:100px;">
                        MONTHLY PIG SALES
                    </span>
                </div>
                <select class="mt-2 ms-2 rounded" id="selectYear"></select>
                <canvas id="salesLineChart" width="560" height="250"></canvas>
            </div>
        </div>
        <div class="col">
            <div class="graph-container rounded" style="height: 100%; width: 100%; margin-top: 2%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
                <div class="rounded-top" style="background-color: #ff7b7b; box-sizing: border-box;">
                    <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 3%;">
                    <span class="mx-3 pt-2 fs-5 text-white fw-bold" style="width:100px;">
                        MONTHLY PIG REGISTERED
                    </span>
                </div>
                <select class="mt-2 ms-2 rounded" id="selectPigBarYear"></select>
                <canvas class="ms-2" id="pigBarChart" width="560" height="250"></canvas>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="graph-container rounded" style="height: 100%; width: 100%; margin-top: 2%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
                <div class="rounded-top w-100" style="background-color: #ff7b7b;">
                    <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 3%;">
                    <span class="mx-3 pt-2 fs-5 text-white fw-bold" style="width:100px;">
                        MONTHLY PIG WEIGHT AVERAGE
                    </span>
                </div>
                <select class="mt-2 ms-2 rounded" id="selected_year_for_weight"></select>
                <canvas id="weightBarChart" width="560" height="250"></canvas>
            </div>
        </div>        
        <div class="col">
            <div class="graph-container rounded" style="height: 100%; width: 100%; margin-top: 2%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
                <div class="rounded-top w-100" style="background-color: #ff7b7b;">
                    <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 3%;">
                    <span class="mx-3 pt-2 fs-5 text-white fw-bold" style="width:100px;">
                        WEANING PROGRESS
                    </span>
                </div>
                <canvas id="weanlingsProgressBar" width="400" height="100"></canvas>
                <p>Prescription: {{ weanlings_prescription }}</p>
            </div>
        </div>
    </div>
</div>

<div id="vaccinationSection" style="display: none;">
    <div class="row mt-1">
        <div class="col">
            <div class="graph-container rounded" style="height: 33%; width: 100%; margin-top: 2%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
                <div class="rounded-top" style="background-color: #ff7b7b;">
                    <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 5%;">
                    <span class="mx-3 pt-2 fs-5 text-white fw-bold">
                        VACCINATION RATE
                    </span>
                </div>
                <canvas id="vaccinationProgress" width="400" height="150"  style="margin:2%;"></canvas>
            </div>
        </div>
        <div class="col">
            <div class="row-1">
                <div class="graph-container rounded" style="height: 50%; width: 100%; margin-top: 2%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
                    <div class="rounded-top" style="background-color: #ff7b7b;">
                        <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 5%;">
                        <span class="mx-3 pt-2 fs-5 text-white fw-bold">
                            VACCINES NEEDED
                        </span>
                    </div>
                    <canvas id="vaccine_needed_bar_chart" width="560" height="250" style="margin:2%;"></canvas>
                </div>
            </div>
            <div class="row-1">
                <div class="graph-container rounded" style="height: 50%; width: 100%; margin-top: 2%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
                    <div class="rounded-top w-100" style="background-color: #ff7b7b;">
                        <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 3%;">
                        <span class="mx-3 pt-2 fs-5 text-white fw-bold" style="width:100px;">
                            NUMBER OF VACCINES
                        </span>
                    </div>
                    <canvas id="vaccine_counts_chart" width="590" height="280"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="feedsSection" style="display: none;">
    <div class="row mt-3">
        <div class="col">
            <div class="graph-container rounded" style="height: 100%; width: 50%; margin-top: 2%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
                <div class="rounded-top w-100" style="background-color: #ff7b7b;">
                    <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 3%;">
                    <span class="mx-3 pt-2 fs-5 text-white fw-bold" style="width:100px;">
                        FEED STOCKS
                    </span>
                </div>
                <div class="d-flex justify-content-center">
                    <canvas id="pieChart" width="350" height="250"></canvas>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="graph-container rounded" style="height: 100%; width: 100%; margin-top: 2%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
                <div class="rounded-top w-100" style="background-color: #ff7b7b;">
                    <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 3%;">
                    <span class="mx-3 pt-2 fs-5 text-white fw-bold" style="width:100px;">
                        FEED PRESCRIPTION
                    </span>
                </div>
                <p>Prescription:</p>
                <ul>
                    {% for prescription in stock_prescriptions %}
                    <li>{{ prescription }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row mt-3">
        <div class="col">
            <div class="graph-container rounded" style="height: 93%; width: 100%; margin-top: 2%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
                <div class="rounded-top" style="background-color: #ff7b7b; width: 100%;">
                    <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 3%;">
                    <span class="mx-3 pt-2 fs-5 text-white fw-bold" style="width:100px;">
                        MONTHLY EXPENSES
                    </span>
                </div>
                <canvas class="m-0" id="expensesBarChart" width="550" height="325"></canvas>
            </div>
        </div>
        <div class="col">
            <div class="graph-container rounded" style="height: 93%; width: 100%; margin-top: 2%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
                <div class="rounded-top w-100" style="background-color: #ff7b7b;">
                    <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 3%;">
                    <span class="mx-3 pt-2 fs-5 text-white fw-bold" style="width:100px;">
                        FEED ESTIMATE
                    </span>
                </div>
                <div class="px-3 py-3">
                    <p>Total Suckling Count: {{ pig_list_28_days}}</p>
                    <p>Total Feed Needed: {{total_feed_suckling_formatted}} kilos</p>
                    <p>Total Feed Available: {{ difference_booster }} kilos</p>
                    <p>Feeds Deficit: {{ total_feed_suckling_deficit_formatted }} kilos which cost  ₱{{ total_feed_suckling_cost_formatted }}</p>
                    <p>Total Weanling Count: {{ pig_list_28_to_88_days}}</p>
                    <p>Total Feed Needed: {{ total_feed_weanling_formatted }} kilos</p>
                    <p>Total Feed Available: {{difference_pre_starter }} kilos</p>
                    <p>Feeds Deficit: {{total_feed_weanling_deficit_formatted }} kilos which cost  ₱{{ total_feed_weanling_cost_formatted}}</p>
                    <p>Total Grower Count: {{ pig_list_88_to_148_days}}</p>
                    <p>Total Feed Needed: {{ total_feed_grower_formatted }} kilos</p>
                    <p>Total Feed Available: {{ difference_starter }} kilos</p>
                    <p>Feeds Deficit: {{ total_feed_grower_deficit_formatted }} kilos which cost  ₱{{ total_feed_grower_cost_formatted}}</p>
                    <p>Total Feed Cost: {{ total_feed_grower_deficit_formatted }}</p>
                    <p>Total Pig Count: {{pig_list_greater_than_148_days }}</p>
                    <p>Total Fattener Needed: {{ total_feed_fattener_formatted}} kilos</p>
                    <p>Total Feed Available: {{ difference_grower }} kilos</p>
                    <p>Feeds Deficit: {{ total_feed_fattener_deficit_formatted }} kilos which cost  ₱{{total_feed_fattener_cost_formatted}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="mortalitySection" style="display: none;">
    <div class="col-4 mt-5">
        <div class="graph-container rounded" style="height: 80%; width: 100%; margin-top: 2%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); overflow: scroll;">
            <div class="rounded-top" style="background-color: #ff7b7b;">
                <img src="{% static 'img/mortality_icon.png' %}" class="ms-2" style="width: 3%;">
                <span class="mx-3 fs-5 text-white fw-bold">
                    Monthly Mortality
                </span>
            </div>
            <canvas id="mortalityAreaChart" width="500%" height="150%"></canvas>
            <div class="px-3 py-3">
                <!-- Display the monthly mortality analysis here -->
                <p>Average Monthly Mortality Count: {{ mortality_rate|floatformat:"2" }}%</p>
                <p>This month ({{ current_year_month }}): {{ average_monthly_mortality_rate|floatformat:"2" }}%</p>
                <p>Prescription: {{ prescription }}</p>
                <p>Top Causes of Mortality:</p>
                <ul>
                    {% for cause in top_mortality_causes %}
                        <li>{{ cause.cause }}: {{ cause.count }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}