{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>Reports</div>

<div id="months" style="display: none;">{{ months|safe }}</div>
<div id="counts" style="display: none;">{{ counts|safe|default:"[]" }}</div>
<div id="totalPigs" style="display: none;">{{ total_pigs }}</div>
<div id="vaccinatedPigs" style="display: none;">{{ vaccinated_pigs }}</div>
<div id="salesData" style="display: none;">{{ sale_counts|safe }}</div>
<div id="saleMonths" style="display: none;">{{ sale_months|safe }}</div>
<div id="mortalityData" style="display: none;">{{ mortality_counts|safe }}</div>
<div id="mortalityDates" style="display: none;">{{ mortality_dates|safe }}</div>


<div class="row mb-5 ms-5">
    <div class="col-auto">
        <div class="graph-container" style="height: 100%; width: 100%; margin-top: 2%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
            <div class="rounded-top" style="background-color: #ff7b7b;">
                <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 5%;">
                <span class="mx-3 pt-2 fs-5 text-white fw-bold">
                    Vaccination Rate
                </span>
            </div>
            <canvas id="vaccinationProgress" width="700%" height="150%"  style="margin:2%;"></canvas>
        </div>
    </div>
    <div class="col-auto ms-3">
        <div class="graph-container" style="height: 130%; width: 100%; margin-top: 2%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
            <div class="rounded-top" style="background-color: #ff7b7b;">
                <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 5%;">
                <span class="mx-3 pt-2 fs-5 text-white fw-bold">
                    Monthly Sales
                </span>
            </div>
            <canvas id="salesLineChart" width="700%" height="150%"></canvas>
        </div>
    </div>
</div>
<div class="row ms-5 mb-auto">
    <div class="col-auto">
        <div class="graph-container" style="height: 100%; width: 100%; margin-top:10%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
            <div class="rounded-top" style="background-color: #ff7b7b;">
                <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 5%;">
                <span class="mx-3 pt-2 fs-5 text-white fw-bold">
                    Monthly Registration Count
                </span>
            </div>
            <canvas id="pigBarChart" width="710%" height="150%"></canvas>
        </div>
    </div>
    <div class="col-auto">
        <div class="graph-container" style="height: 100%; width: 100%; margin-top:10%; box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);">
            <div class="rounded-top" style="background-color: #ff7b7b;">
                <img src="{% static 'img/pig_logo.png' %}" class="ms-2" style="width: 5%;">
                <span class="mx-3 pt-2 fs-5 text-white fw-bold">
                    Monthly Registration Count
                </span>
            </div>
            <canvas id="mortalityAreaChart" width="710%" height="150%"></canvas>
        </div>
    </div>
</div>


{% endblock %}