{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card rounded" style="height: 15rem; width: 20rem;">
        <div id="success-overlay" class="success-overlay">
            <div class="success-overlay-content d-flex flex-column align-items-center">
                <span class="py-2 text-white fw-bold text-center rounded-top" style="width: 100%; background-color: #ff7b7b;"> 
                    Task Updated
                </span>
                <p class="text-muted my-5">
                    {% for msg in messages %}
                        {{ msg }}
                    {% endfor %}</p>
                <button id="okay-button" class="success-button mt-2" style="width: 8rem;">Okay</button>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // No need to change the JavaScript
        var overlay = document.getElementById('success-overlay');
        overlay.style.display = 'block';

        document.getElementById('okay-button').addEventListener('click', function () {
            window.location.href = '{% url "data_entry" user_type %}';
        });
    });
</script>

{% endblock %}